<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>UBC Class UI - Team 46</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<base href="src/rest/view/">-->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <!-- NAVBAR CSS -->
    <!-- TODO: implement once made -->
    <!--<link href="stylesheets/style.css" rel="stylesheet">-->

    <!-- MAIN PAGE STYLE SHEET -->
    <!--<link href="src/rest/css/style.css" rel="stylesheet">-->

    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <style type="text/css">
        #nav-heading {
            font-family: sans-serif;
        }

        textarea {
            height: 300px;
            width: 600px;
        }

        #main-wrapper {
            margin-top: 50px;
            padding-top: 20px;
        }
    </style>

</head>

<body>

    <div id="wrapper">

        <!--NAVBAR-->
        <nav class="navbar navbar-default navbar-fixed-top" id="navbar-wrapper">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse"
                        aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">UBC Class UI - Team 46</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Query</a></li>
                        <li><a href="#">Scheduling</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!--MAIN-->
        <main id="main-wrapper">
            <!--Upload Interface-->
            <div>
                <input type="file" name="fileUpload" id="fileUpload" />
                <button id="btnUpload">Upload</button>
            </div>

            <div>
                <textarea id="txtQuery"></textarea><br />
                <button id="btnSubmit">Submit</button>
                <table id="tblResults"></table>
            </div>
        </main>

    </div>

    <script>
        $("#btnUpload").click(() => {
            var fileToLoad = document.getElementById("fileUpload").files[0];
            var fileReader = new FileReader();
            fileReader.readAsArrayBuffer(fileToLoad);
            fileReader.onload = (evt) => {
                var id = fileToLoad.name.split(".")[0];
                var content = evt.target.result;
                var formData = new FormData();
                formData.append('body', new Blob([content]));
                $.ajax({
                    url: 'http://localhost:4321/dataset/' + id,
                    type: 'put',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done((data) => {
                    console.log(fileToLoad.name + " was successfully uploaded.");
                }).fail((data) => {
                    console.log('ERROR - Failed to upload ' + fileToLoad.name + ".");
                });
            }
        });

        $('btnSubmit').click(() => {
            var query = $("#txtQuery").val();
            console.log("query", query);

            $.ajax({
                url: 'http://localhost:4321/query',
                type: 'post',
                data: JSON.stringify(query),
                contentType: 'application/json',
                dataType: 'json'
            }).done((data) => {
                console.log("Response: ", data);
                generateTable(data.message.result);
            }).fail(() => {
                console.error("ERROR - Failed to submit query.");
            })

            function generateTable(data) {
                var tbl_body = document.createElement("tbody");
                var odd_even = false;
                console.log("DATA", data);
                $.each(data, () => {
                    var tbl_row = tbl_body.insertRow();
                    tbl_row.className = odd_even ? "odd" : "even";
                    $.each(this, (k, v) => {
                        var cell = tbl_row.insertCell();
                        cell.appendChild(document.createTextNode(v.toString()));
                    })
                    odd_even = !odd_even
                })
                document.getElementById("tblResults").appendChild(tbl_body);
            }
        })
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- File Upload Script -->
    <!--<script src="scripts/fileUpload.js"></script>-->

    <!-- Query Submission Script -->
    <!--<script src="scripts/querySubmit.js"></script>-->

</body>

</html>