<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Scheduler - UBC Insight</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <!-- Modernizr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- On Load Script -->
    <script src="scripts/onload.js"></script>

    <!-- Bootstrap Style Sheet -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Style Sheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Schedule Style Sheet -->
    <link href="css/schedule.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!--NAVBAR-->
        <nav class="navbar navbar-default navbar-fixed-top" id="navbar-wrapper">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">UBC Insight</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Query</a></li>
                        <li class="active"><a href="schedule.html">Scheduling</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!--MAIN-->
        <main id="main-wrapper">
            <!--Upload Interface-->
            <div id="file-upload-wrapper" class="internal-wrappers">
                <div class="colour-wrappers">
                    <div class="hide-overflow">
                        <input type="file" name="fileUpload" class="btn btn-default" id="fileUpload" />
                        <button class="btn btn-default" id="btnUpload">Upload Dataset</button>
                    </div>
                    <!--Show uploaded .jsons-->
                    <div id="uploaded-jsons" class="hide-overflow">
                        <h5 id="uploaded-title">Uploaded Datasets</h5>
                        <div class="row" id="upload-indicators">
                            <div class="col-xs-6 upload-indicator">
                                <div class="alert alert-danger float-left" id="courses-uploaded" role="alert">Courses</div>
                            </div>
                            <div class="col-xs-6 upload-indicator">
                                <div class="alert alert-danger float-right" id="rooms-uploaded" role="alert">Rooms</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Filtering Interface-->
            <div id="query-wrapper" class="internal-wrappers">
                <div class="colour-wrappers">
                    <!--Rooms-->
                    <h5 id="uploaded-title">Filtering</h5>
                    <div class="row bottom-spacing">
                        <div class="col-xs-3 col-sm-5">
                            <!--Building Name selector-->
                            <select class="btn btn-default" id="building-selector">
                                <option value="" selected id="placeholder">Building name</option>
                                <option value="courses">AAC</option>
                                <option value="rooms">DMP</option>
                            </select>
                        </div>
                        <div class="btn-group col-xs-3 col-sm-2" role="group">
                            <button type="button" value="AND" class="btn btn-default and-or-button selected room-button room-button-and">And</button>
                            <button type="button"  value="OR" class="btn btn-default and-or-button room-button room-button-or">Or</button>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <!--Distance selector-->
                            <select class="btn btn-default" id="building-selector">
                                <option value="" selected id="placeholder">Distance from</option>
                                <option value="courses">AAC</option>
                                <option value="rooms">DMP</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <!--Distance selector-->
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Distance">
                                <span class="input-group-addon" id="basic-addon2">m</span>
                            </div>
                        </div>
                    </div>
                    <!--Courses-->
                    <div class="row">
                        <div class="col-xs-4 col-sm-5">
                            <!--Department selector-->
                            <select class="btn btn-default" id="department-selector">
                                <option value="" selected id="placeholder">Department</option>
                                <option value="courses">Science</option>
                                <option value="rooms">Arts</option>
                            </select>
                        </div>
                        <div class="btn-group col-xs-4 col-sm-2" role="group">
                            <button type="button" value="AND" class="btn btn-default and-or-button selected course-button course-button-and">And</button>
                            <button type="button" value="OR" class="btn btn-default and-or-button course-button course-button-or">Or</button>
                        </div>
                        <div class="col-xs-4 col-sm-5">
                            <!--Department selector-->
                            <select class="btn btn-default" id="course-selector">
                                <option value="" selected id="placeholder">Course number</option>
                                <option value="courses">A315</option>
                                <option value="rooms">B214</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--Query Interface-->
            <div id="query-wrapper" class="internal-wrappers">
                <div class="colour-wrappers">
                    <button class="btn btn-default" id="btnSchedule">Generate Schedule</button>
                    <textarea id="scheduleQuery">
{  
   "WHERE":{  
      "AND":[  
         {  
            "IS":{  
               "courses_dept":"anth"
            }
         },
         {  
            "NOT":{  
               "EQ":{  
                  "courses_year":1900
               }
            }
         }
      ]
   },
   "OPTIONS":{  
      "COLUMNS":[  
         "courses_dept",
         "courses_id",
         "maxStudents",
         "numSections"
      ],
      "ORDER":{  
         "dir":"UP",
         "keys":[  
            "courses_dept",
            "courses_id"
         ]
      },
      "FORM":"TABLE"
   },
   "TRANSFORMATIONS":{  
      "GROUP":[  
         "courses_dept",
         "courses_id"
      ],
      "APPLY":[  
         {  
            "maxStudents":{  
               "MAX":"courses_numStudents"
            }
         },
         {  
            "numSections":{  
               "COUNT":"courses_uuid"
            }
         }
      ]
   }
}
                    </textarea>
                    <textarea id="scheduleQueryRooms">
{  
   "WHERE":{
        "IS":{  
            "rooms_shortname":"ANGU"
        }
   },
   "OPTIONS":{  
      "COLUMNS":[  
         "rooms_name",
         "rooms_shortname",
         "rooms_seats",
         "rooms_lat",
         "rooms_lon"
      ],
      "ORDER":{  
         "dir":"UP",
         "keys":[  
            "rooms_name"
         ]
      },
      "FORM":"TABLE"
   }
}
                    </textarea>
                </div>
            </div>
        </main>

    </div>

    <!-- Bootstrap Script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- On Click Scripts -->
    <script src="scripts/onclick.js"></script>

    <!-- Query Scripts -->
    <script src="scripts/schedule.js"></script>

    <!-- Query Scripts -->
    <script src="scripts/query.js"></script>

</body>

</html>