<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Scheduler - UBC Insight</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="Chart.js"></script>

    <!-- Modernizr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- On Load Script -->
    <script src="scripts/onload.js"></script>

    <!-- Bootstrap Style Sheet -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Style Sheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Schedule Style Sheet -->
    <link href="css/schedule.css" rel="stylesheet">

    <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }

    </style>

</head>

<body>

<div id="wrapper">

    <!--NAVBAR-->
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar-wrapper">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">UBC Insight</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Query</a></li>
                    <li><a href="schedule.html">Scheduling</a></li>
                    <li class="active"><a href="search.html">Search</a></li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!--MAIN-->
    <main id="main-wrapper">
        <div class="container" id="containerThing">
            <h1>Course search</h1>
            <p>Type in a course and hit the enter key to obtain readable and neatly visualized information. Example searches: "CPSC 310", "ANTH 210".</p>
            <form id="searchForm" action="search">
                <div class="row">
                    <div class="form-group">
                        <input type="search" id='searchBox' class="form-control input-lg">
                    </div>
                </div>
            </form>

            <div id="place">

                <div id="dont">
                    <div style="display: inline-block">
                        <canvas id="myChart" width="500" height="500"></canvas>
                    </div>
                    <div style="display: inline-block">
                        <canvas id="myChart2" width="500" height="500"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </main>

</div>

<script>
    $("#searchForm").submit(function(e){
        e.preventDefault();
        var searchText = $('#searchBox').val();
        // var searchText = search($("#searchText").get(0));
        var courseDept = searchText.split(" ")[0];
        var courseNumber = searchText.split(" ")[1];
        console.log("Searching for a " + courseDept + " course with number " + courseNumber);

        var query_raw = {
        "WHERE":{
            "AND":[
                {
                    "IS":{
                        "courses_dept":courseDept.toString().toLowerCase()
                    }
                },
                {
                    "IS":{
                        "courses_id":courseNumber.toString()
                    }
                }
            ]
        },
        "OPTIONS":{
            "COLUMNS":[
                "courses_dept",
                "courses_avg",
                "courses_pass",
                "courses_fail",
                "courses_instructor",
                "courses_year",
                "courses_audit"
            ],
                "FORM":"TABLE"
        }
    };
        var query = JSON.stringify(query_raw);
        console.log(query);
        console.log("QUERY: " + JSON.stringify(query));

        // Performing query
        $.ajax({
            url: 'http://localhost:4321/query',
            type: 'post',
            data: JSON.stringify(query),
            contentType: 'application/json',
            dataType: 'json'
        }).done(function(data) {
            var courseName = courseDept + " " + courseNumber;
            var totalSections = 0;
            var passed = 0;
            var failed = 0;
            var minYear = 99999;
            var maxYear = 0;
            var avgs = [];
            var years = [];

            $.each(data.result, function () {
                totalSections += 1;
                $.each(this, function (k, v) {
                    console.log("second thing: " + k.toString() + v.toString());
                    if(k.toString() == "courses_pass") passed += v;
                    if(k.toString() == "courses_fail") failed += v;
                    if(k.toString() == "courses_year") {
                        var year = v;
                        years.push(year);
                        if(year < minYear && year != 1900) {
                            minYear = year;
                        }
                        if(year > maxYear) {
                            maxYear = year;
                        }
                    }
                    if(k.toString() == "courses_avg") {
                        avgs.push(v);
                    }
                })
            });


            // Clean the data
            for(var i=0; i<avgs.length; i++) {
                if(years[i] == 1900) {
                    years.splice(i, 1);
                    avgs.splice(i, 1);
                }
            }

            // Sort it
            var all = [];

            for (var i = 0; i < avgs.length; i++) {
                all.push({ 'years': years[i], 'avgs': avgs[i] });
            }

            all.sort(function(a, b) {
                return a.years - b.years;
            });

            years = [];
            avgs = [];

            for (var i = 0; i < all.length; i++) {
                years.push(all[i].years);
                avgs.push(all[i].avgs);
            }


            console.log(avgs);
            console.log(years);

            $('#place').contents(':not(div)').remove();

            // DISPLAYING FOUND INFO

            var passedRate = (passed/(passed + failed));
            var failedRate = (failed/(passed + failed));
            $('<p>').text("Here are some graphs I made:").prependTo("#place");
            $('<p>').text("On average, " + Math.round(passedRate*100) + "% of students pass " + courseName + ", "
            + "and " + Math.round(failedRate*100) + "% of students fail " + courseName + ".").prependTo("#place");
            $('<p>').text("I found " + totalSections + " total sections for " + courseDept + " " + courseNumber + ".").prependTo('#place');
            $('<p>').text("The first section of " + courseName + " was in " + minYear + "!").prependTo('#place');
            $('<h1>').text(courseName).prependTo("#place");


            var graphData = {
                labels: [
                    "Pass",
                    "Fail",
                ],
                datasets: [
                    {
                        data: [passed, failed],
                        backgroundColor: [
                            "#75eb7e",
                            "#FF6384",
                        ],
                        hoverBackgroundColor: [
                            "#75eb7e",
                            "#FF6384",
                        ]
                    }]
            };

            var lineData = {
                labels: years,
                datasets: [
                    {
                        label: "Class average in %",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: avgs,
                        spanGaps: false,
                    }
                ]
            };

            var ctx = $('#myChart');
            var options = { maintainAspectRatio: false,
                responsive: false,
                title: {
                display: true,
                    text: "Pass and fail rate of students in " + courseName
                }};
            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: graphData,
                options: options
            });

            var options2 = { maintainAspectRatio: false,
                responsive: false,
                title: {
                    display: true,
                    text: "Class average over time for " + courseName
                }};
            var ctx2 = $('#myChart2');
            var myLineChart = new Chart(ctx2, {
                type: 'line',
                data: lineData,
                options: options2
            });

        }).fail(function(err) {
           alert("Your search failed. " + JSON.stringify(err));
        });
    });
</script>

<!-- Bootstrap Script -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- On Click Scripts -->
<script src="scripts/onclick.js"></script>


<!--TODO: this is where I import them (acts like an import)-->
<!-- Schedule Scripts -->
<script src="scripts/schedule.js"></script>

<!-- Query Scripts -->
<script src="scripts/query.js"></script>

</body>

</html>