src/*.js
src/*.map
src/**/*.js
src/**/*.map
test/*.js
test/*.map
npm-debug.log
.nyc_output/
mochawesome-reports/
node_modules/
.idea/
.yarnclean
coverage/
.vscode/

# don't ignore .js in javascript front end
!src/rest/view/javascript/*.js