/* Query-specific Style Sheet */

/* selector for courses / rooms */
#currentID-selector {
    margin-bottom: 10px;
}

/* repeating filter format */
.filter {
    border-radius: 4px;
    /*height: 300px;*/
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

/* container for sorting */
#sorting-area {
    border-radius: 4px;
    /*height: 300px;*/
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

#sort-selector {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -10px;
    float: left;
    /*max-width: calc(50% - 15px);*/
    max-width: 50%;
}

#direction-selector {
    margin-bottom: 10px;
    margin-left: 0px;
    float: right;
    /*max-width: calc(50% - 15px);*/
    max-width: 50%;
}

/* selector for filters */
.filter-selector {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -10px;
}

/* override .filter for comparison filters */
.comparison-override {
    border: none;
    padding-left: 0px;
    background-color: transparent !important;
}

/* selector for comparisons */
.comparison-selector {
    margin-right: 4px;
    background-color: transparent !important;
}

/* button to submit query */
#btnSubmit {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* container for results table */
#results-table {
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    margin-top: 56px;
    width: 100%;
    display: none;
}

/* table of results */
#tblResults {
    border: 1px solid #e7e7e7;
    margin-bottom: 0;
}

/* make table headers bold */
thead {
    font-weight: bold;
}

/* button to upload file */
.adder {
    padding: 5px 8px 5px 8px !important;
    float: right;
}

#column-selector {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -10px;
    float: left;
    /*max-width: calc(50% - 15px);*/
    max-width: 50%;
}

#column-list {
    margin-top: 32px;
    padding: 10px;
    padding-left: 0px;
    margin-left: -10px;
}

.column-item {
    margin-right: 10px;
}