.and-or-button {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom-spacing {
    margin-bottom: 10px;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}

.row > div {
    padding-left: 5px;
    padding-right: 5px;
}

#building-selector {
    width: 100%;
}

#department-selector {
    width: 100%;
}

#course-selector {
    width: 100%;
}

#upload-indicators {
    padding: 0;
}

button.selected {
    background-color: #e6e6e6;
    border-color: rgb(173, 173, 173)
}

#btnSchedule {
    float: right;
}

#schedule-array {
    margin-top: 54px;
}

.schedule-time {
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 0px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
}

.col-xs-10 {
    border-radius: 0px 4px 4px 0px;
}

.col-xs-2 {
    border-radius: 4px 0px 0px 4px;
}

.block {
    margin-right: 10px;
    width: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    float: left;
    margin-bottom: 10px;
}

/* container for sorting */
.subset-area {
    border-radius: 4px;
    /*height: 300px;*/
    width: 100%;
    padding: 10px;
    /*padding-bottom: 0px;*/
    margin-top: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.form-group {
    width: calc(100% - 42px);
}

#subsets-title {
    margin-bottom: 0px;
}

.adder {
    margin-top: -47px;
}