/* Shared Style Sheet */

/* Navbar */

/* format bootstrap navbar */
.navbar-default {
    background-color: #f2f2f2;
}


/* Main */

/* main wrapper for body */
#main-wrapper {
    margin-top: 50px;
    padding-top: 5px;
    height: calc(100vh - 50px);
    overflow: auto;
}

/* keep spacing from page */
.internal-wrappers {
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    width: 100%;
}

/* colour-blocks for visual sections of page */
.colour-wrappers {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #e7e7e7;
}

/* button to upload file */
#btnUpload {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* uploaded jsons wrapper */
#uploaded-jsons {
    overflow: hidden;
    margin-top: 13px;
}

/* make alerts full width */
.alert {
    margin-bottom: 0;
    width: 100%;
}

#upload-indicators {
    margin-left: -5px;
    margin-right: -5px;
}

.upload-indicator {
    padding-left: 5px;
    padding-right: 5px;
}

/* format bootstrap form for comparisons */
.form-control {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 32px;
}

/* format bootstrap form for comparisons */
.input-group-addon {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 32px;
}


/* Utilities */

/* Floats: outer container should be overflow: hidden */
/* float something left */
.float-left {
    float: left;
}
/* float something right */
.float-right {
    float: right;
}

/* select placeholders grey to indicate not real selection */
#placeholder {
    color: gray;
}

/* Filter colour: alternating colours for query */
/* white */
.filter-color-0 {
    background-color: #fff;
}
/* light grey */
.filter-color-1 {
    background-color: #f2f2f2;
}

/* align select text left */
select {
    text-align: left;
}

/* overflow: hidden */
.hide-overflow {
    overflow: hidden;
}

/*TODO: remove when not needed for testing*/
#txtQuery {
    display: none;
}

#scheduleQuery {
    display: none;
}

#scheduleQuerySection {
    display: none;
}

#scheduleQueryRooms {
    display: none;
}



@media (min-width: 474px) {
    #btnUpload {
        float: right;
    }

    #fileUpload {
        float: left;
    }
}

@media (max-width: 768px) {
    #courses-uploaded {
        margin-bottom: 10px;
    }
    
    #fileUpload {
        margin-bottom: 10px;
    }
}

.btn {
    max-width: 100%;
}