/* Navbar */

/* format bootstrap navbar */
.navbar-default {
    background-color: #f2f2f2;
}


/* Main */

/* main wrapper for body */
#main-wrapper {
    margin-top: 50px;
    padding-top: 5px;
    height: calc(100vh - 50px);
    overflow: auto;
}

/* keep spacing from page */
.internal-wrappers {
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    width: 100%;
}

/* colour-blocks for visual sections of page */
.colour-wrappers {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #e7e7e7;
}

/* button to upload file */
#btnUpload {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* selector for courses / rooms */
#currentID-selector {
    margin-bottom: 10px;
}

/* repeating filter format */
.filter {
    border-radius: 4px;
    /*height: 300px;*/
    width: 100%;
    padding: 4px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

/* selector for filters */
.filter-selector {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -16px;
}

/* override .filter for comparison filters */
.comparison-override {
    border: none;
    padding-left: 0px;
    background-color: transparent;
}

/* selector for comparisons */
.comparison-selector {
    margin-right: 4px;
    background-color: transparent;
}

/* format bootstrap form for comparisons */
.form-control {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 32px;
}

/* format bootstrap form for comparisons */
.input-group-addon {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 32px;
}

/* button to submit query */
#btnSubmit {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* container for results table */
#results-table {
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    margin-top: 56px;
    width: 100%;
}

/* table of results */
#tblResults {
    border: 1px solid #e7e7e7;
    margin-bottom: 0;
}

/* make table headers bold */
thead {
    font-weight: bold;
}



/* Utilities */

/* Floats: outer container should be overflow: hidden */
/* float something left */
.float-left {
    float: left;
}
/* float something right */
.float-right {
    float: right;
}

/* select placeholders grey to indicate not real selection */
#placeholder {
    color: gray;
}

/* Filter colour: alternating colours for query */
/* white */
.filter-color-0 {
    background-color: #fff;
}
/* light grey */
.filter-color-1 {
    background-color: #f2f2f2;
}

/*TODO: remove when not needed for testing*/
#txtQuery {
    display: none;
}